/*animation title*/

/*  h1.title {
    text-transform: uppercase;
    animation: blur 1s ease-out infinite;
}

@keyframes blur {
    from {
        text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
            0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
            0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8,
            0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
            0px 10px 100px #7b96b8, 0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
    }
}  */

.anim-btn {
    min-width: 15rem;
    min-height: 15rem;
    font-size: 3rem;
    letter-spacing: 1.3px;
    font-weight: 700;
    background: linear-gradient(180deg, #faeb18 20%, #ee380b 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.anim-btn::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(250px + 12px);
    min-height: calc(50px + 12px);
    border: 1px solid #ee380b;
    box-shadow: 0 0 60px #ee380b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.anim-btn-rules::before {
    min-width: calc(140px + 12px);
    min-height: calc(30px + 12px);
}

.anim-btn-sound::before {
    min-width: calc(140px + 12px);
    min-height: calc(30px + 12px);
}

.anim-btn:hover,
.anim-btn:focus {
    color: #ee380b;
    transform: translateY(-6px);
}

.anim-btn:hover::before,
button:focus::before {
    opacity: 1;
}

.anim-btn::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #ee380b;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.anim-btn:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}


