/*animation flash  gagnant*/
.flash-win {
    text-transform: uppercase;
    animation: blur-win 1s ease-out;
}

@keyframes blur-win {
    from {
        text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
            0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
            0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8,
            0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
            0px 10px 100px #7b96b8, 0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
    }
}

/*animation flash  perdant*/
.flash-lose {
    text-transform: uppercase;
    animation: blur-lose 1s ease-out;
}
@keyframes blur-lose {
    from {
        text-shadow: 0px 0px 10px red, 0px 0px 10px red, 0px 0px 25px rgb(211, 26, 19),
            0px 0px 25px red, 0px 0px 25px red, 0px 0px 25px red, 0px 0px 25px red, 0px 0px 25px red,
            0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8,
            0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
            0px 10px 100px #7b96b8, 0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
    }
}

/*animation boutons*/
.anim-btn {
    min-width: 13rem;
    min-height: 13rem;
    font-size: 2vmax;
    letter-spacing: 1.3px;
    font-weight: 700;
    background: linear-gradient(180deg, #faeb18 20%, #ee380b 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

/* anim bouton hover*/
.anim-btn::before {
    content: '';
    border-radius: 1000px;
    width: 100%;
    height: 50%;
    border: 1px solid #ee380b;
    box-shadow: 0 0 60px #ee380b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

/*taille aniv hover btn regles et son*/
btn-rules::before,
btn-sound::before {
    min-width: calc(150px + 12px);
}

.anim-btn:hover {
    color: #ee380b;
    transform: translateY(-3px);
}
.anim-btn:active {
    visibility: hidden;
}

/*hover boutons lancer / garder*/
.btn-roll:hover,
.btn-roll:focus {
    transform: translateY(3px);
}

.btn-hold:hover,
.btn-hold:focus {
    transform: translateY(3px);
}

.anim-btn:hover::before,
button:focus::before {
    opacity: 1;
}

/* supprime une bordure apres click */
.anim-btn:focus {
    visibility: hidden;
}

/*anim guide user*/
.btn-insist::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #ee380b;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.anim-btn:hover::after,
button:focus::after {
    animation: none;
    display: none;
}
/*reglage anim propose click*/
@keyframes ring {
    0% {
        width: 250px;
        height: 50px;
        opacity: 0.7;
    }
    100% {
        width: 350px;
        height: 200px;
        opacity: 0;
    }
}

/*
------------------------------------------------
------------------------------------------------
-----------------------MEDIA QUERRY--------------
------------------------------------------------
--*/

@media screen and (max-width: 765px) {
    @keyframes ring {
        0% {
            width: 150px;
            height: 50px;
            opacity: 0.7;
        }
        100% {
            width: 200px;
            height: 50px;
            opacity: 0;
        }
    }
    /* .anim-btn:hover::before,
    button:focus::before {
        opacity: 0;
    } */
    .anim-btn:hover,
    button:focus {
        transform: translateY(0px);
    }
}

@media screen and (max-width: 500px) {
    .anim-btn {
        min-width: 1rem;
        min-height: 5rem;
    }
}
