@font-face {
    font-family: 'Feast of Flesh BB';
    src: url('../fonts/FEASFBI_.TTF') format('truetype'),
        url('../fonts/FEASFBRG.TTF') format('truetype');
}

*,
html {
    box-sizing: border-box;
    font-family: 'Feast of Flesh BB';
    font-size: 62.5%;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../img/180755.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(253, 253, 253);
}
/*layout mobile*/
.wrapper-mobile {
    display: none;
}

.title-row {
    margin-top: 15%;
    margin-bottom: 10rem;
    padding: 1rem;
}

h1.title {
    font-size: 8vmax;
    padding: 4rem;
    background: linear-gradient(180deg, #faeb18 20%, #ee380b 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -3px -4px 11px rgba(250, 235, 24, 0.37);
    text-shadow: -3px 9px 11px rgba(238, 56, 11, 0.37);
}

/* ---------------------- MEDIA QUERRYS ----------------------*/

@media screen and (max-width: 765px) {
    body {
        overflow: auto;
    }

    .wrapper-desktop {
        display: none;
    }
    .wrapper-mobile {
        display: block;
    }
    .title-row {
        margin-top: 5%;
        margin-bottom: 2rem;
        padding: 1rem;
    }
    h1.title {
        font-size: 6vmax;
    }
}
