@font-face {
    font-family: 'Feast of Flesh BB';
    src: url('../fonts/FEASFBI_.TTF') format('truetype'),
        url('../fonts/FEASFBRG.TTF') format('truetype');
}

*,
html {
    box-sizing: border-box;
    font-family: 'Feast of Flesh BB';
    font-size: 62.5%;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../img/180755.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(253, 253, 253);
    padding-bottom: 2rem;
}

/*layout mobile caché*/
.wrapper-mobile {
    display: none;
}

/*----------------- HEADER ---------------*/

/*--------title -----*/
header {
    padding: 3rem 0;
}

header h1,
header h2 {
    font-size: 6vmax;
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    z-index: 1000;
    /*couleur font degradée*/
    background: linear-gradient(180deg, #faeb18 20%, #ee380b 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -3px -4px 11px rgba(250, 235, 24, 0.37);
    text-shadow: -3px 9px 11px rgba(238, 56, 11, 0.37);
}

/*-----------------  NEW GAME  ---------------*/

.new-game {
    margin-top: -3rem;
    margin-bottom: 3rem;
}

/*--------------- PLAYER NAME AND SCORE ------------*/

.progress {
    height: 1.3rem;
    background-color: #ee380b;
}

.progress-bar {
    background-color: #faeb18;
}

/*----- score total -----*/
.score-total p {
    text-align: center;
    /*couleur font degradée*/
    background: linear-gradient(180deg, #faeb18 20%, #ee380b 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -3px -4px 11px rgba(250, 235, 24, 0.37);
    text-shadow: -3px 9px 11px rgba(238, 56, 11, 0.37);
}

.score-total--title {
    font-size: 2vmax;
    margin-top: -5rem;
    margin-bottom: -1rem;
}

.score-total--number {
    font-size: 5rem;
}

.score-total--slash {
    font-size: 2rem;
}

/*------player 1 bar left--------*/

.player-title-left {
    font-size: 2.5vw;
    margin: 0;
    flex: 1;
}

.point-score-left {
    font-size: 8rem;
    margin: 0;
}

.text-score {
    font-size: 3rem;
    margin: 0;
}

/*------player 2 bar right--------*/

.player-title-right {
    font-size: 2.5vw;
    margin: 0;
}

.point-score {
    font-size: 8rem;
    margin: 0;
}

.text-score-right {
    flex: 1;
}

/*------------------ ACTION  -------------------*/

.img {
    height: 40vh;
    width: 100%;
    filter: grayscale(30%);
    filter: brightness(70%);
    transition: all 0.6s;
    transform: scale(1);
}

/*----- joueur actif---*/
.img-active {
    filter: grayscale(0);
    transform: scale(1.04);
    filter: brightness(200%);
    box-shadow: 0px 5px 15px 3px #faeb1860;
}

.action-player {
    flex: 4;
}

/*container dé + boutons*/
.action-button {
    flex: 4;
}

/*container des boutons*/
.action-button--roll {
    height: 60%;
}

/* ------------------------ MODALE REGLES ----------------------*/

.rules-modal {
    background-color: #ffffff;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    z-index: 2000;
    width: 90%;
    max-width: 100rem;
}

.rules-modal h5,
.new-game-modal h5 {
    padding: 1rem 3rem;
    border-radius: 20px;
    font-size: 5vmin;
    background: #000000;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -3px -4px 11px rgba(250, 235, 24, 0.37);
    text-shadow: -3px 9px 11px rgba(238, 56, 11, 0.37);
}

.rules-modal p {
    padding: 1rem;
    text-align: justify;
    background: #fa8518;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -3px -4px 11px rgba(250, 235, 24, 0.37);
    text-shadow: -3px 9px 11px rgba(238, 56, 11, 0.37);
    font-size: 3.2vmin;
}

.btn-close-modal {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    font-size: 3.2vmin;
    border: none;
    background: #000000;
    color: #ffffff;
    margin-top: 2rem;
    transition: all, 0.3s linear;
}

.btn-close-modal:hover {
    background: #fa8518;
    box-shadow: 1px 2px 6px 2px rgb(46, 5, 5);
}

/*

/* ------------------------ MODALE NOUVELLE PARTIE ----------------------*/

.new-game-modal {
    background-color: #ffffff;
    color: #000;
    position: fixed;
    top: 45%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -45%);
    border-radius: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 6rem 3rem;
    width: 90%;
    max-width: 100rem;
}

.new-game-modal form {
    width: 100%;
    max-width: 85rem;
}

.player-bloc {
    display: flex;
    align-items: center;
    height: 4vh;
    margin: 6rem auto;
}

.player-bloc label {
    width: 80%;
    font-size: 3.2vmin;

    padding-right: 1rem;
    text-align: end;
    margin-right: 2rem;
    background: #fa8518;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -3px -4px 11px rgba(250, 235, 24, 0.37);
    text-shadow: -3px 9px 11px rgba(238, 56, 11, 0.37);
}

.player-bloc input {
    width: 80%;
}

.btn-close-ng-modal {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    font-size: 3.2vmin;
    border: none;
    background: #000000;
    color: #ffffff;
    transition: all, 0.3s linear;
    margin: 8rem auto 0px auto;
    display: block;
}

.player-bloc input[placeholder] {
    font-size: 1.8vmin;
}

.btn-close-ng-modal:hover {
    border: none;
    background: #fa8518;
    box-shadow: 1px 2px 6px 2px rgb(46, 5, 5);
}

/*---- video de victoire -------*/

.videoBloc {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(0, 0, 0);
}

.video {
    width: 80vw;
    height: 70vh;
    position: absolute;
    z-index: 1000;
    margin-bottom: 2%;
}

/* ---------------------- MEDIA QUERRYS ----------------*/

@media screen and (max-width: 1050px) {

    header {
        padding: 0;
    }
    header h1 {
        padding: 0;
    }
    .action-button--roll {
        margin-top: -2rem;
    }
    .btn-roll {
        margin-top: -3rem;
    }
    .video {
        width: 90%;
        position: absolute;
        z-index: 1000;
        top: 3%;
    }
}

@media screen and (max-width: 765px) {
    .wrapper-mobile {
        display: block;
    }
    body {
        overflow: auto;
    }
    .wrapper-desktop {
        display: none;
    }
    header {
        padding: 0 0 2rem;
    }

    .new-game-buttons-mobile {
        height: 10vh;
    }

    .game-button-mobile {
        margin-top: -4rem;
        margin-bottom: 4rem;
    }

    .img-mobile {
        width: 80%;
        height: 20rem;
    }

    .player-title-mobile {
        font-size: 7vw;
    }

    .point-score-mobile {
        font-size: 9vw;
        margin-right: 2rem;
    }

    .progress-mobile {
        height: 0.7rem;
    }
    /*dé mobile*/
    .action-button-dice-mobile {
        margin: 2rem 0;
    }

    .rules-modal,
    .new-game-modal {
        width: 95%;
        padding: 2rem 0.5rem;
        font-size: 8vmin;
    }

    .rules-modal h5,
    .new-game-modal h5 {
        width: 95%;
        padding: 1rem 0.2rem;
        text-align: center;
        font-size: 9.2vmin;
    }

    .rules-modal p {
        width: 95%;
        padding: 0.2rem;
        font-size: 5vmin;
    }

    .new-game-modal label {
        font-size: 7vmin;
    }

    .player-bloc input[placeholder] {
        width: 100%;
        font-size: 4.5vmin;
    }

    .btn-close-ng-modal,
    .btn-close-modal {
        font-size: 6vmin;
    }

    .video {
        width: 90%;
        position: absolute;
        z-index: 1000;
        top: 1%;
    }
}
