@font-face {
    font-family: 'Feast of Flesh BB';
    src: url('../fonts/FEASFBI_.TTF') format('truetype'),
        url('../fonts/FEASFBRG.TTF') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    /* font-family: 'Stalinist One', cursive; */
    font-family: 'Feast of Flesh BB';
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../img/180755.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(253, 253, 253);
}

.wrapper-mobile {
    display: none;
}

.title-row {
    margin-top: 15%;
    margin-bottom: 2rem;
    padding: 1rem;
}
h1.title {
    margin: 0;
}

/* ---------------------- MEDIA QUERRYS ----------------------*/

@media screen and (max-width: 765px) {
    body {
        overflow: auto;
    }

    .wrapper-desktop {
        display: none;
    }
    .wrapper-mobile {
        display: block;
    }
    .title-row {
        margin-top: 5%;
        margin-bottom: 2rem;
        padding: 1rem;
    }
}
