@font-face {
    font-family: 'Feast of Flesh BB';
    src: url('../fonts/FEASFBI_.TTF') format('truetype'),
        url('../fonts/FEASFBRG.TTF') format('truetype');
}

*,
html {
    font-family: 'Feast of Flesh BB';
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* border: 1px solid red;   */
}