@use "../abstracts/_all" as abstracts;


.nav {

    padding-bottom: 3.5rem;

    &__list {
        @include abstracts.centerElement;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;

        &__item {
            flex: 1;
            @include abstracts.centerElement;
        }
    }

}