/*
  L'ordre des imports : 
    - reset
    - vendors
    - pages
    - themes
    - layout
    - components
*/
@use "base/_reset";
/* @use "vendors/_bootstrap.min.scss"; */
@use "base/_animation";
@use "layout/_layout";
@use "layout/_header";
@use "layout/_nav";
@use "components/_dice";
@use "components/_button";
@use "components/_modal-rules";
@use "components/_modal-new-game";


/*---- video de victoire -------*/

.videoBloc {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(0, 0, 0);
}

.video {
    width: 80vw;
    height: 70vh;
    position: absolute;
    z-index: 1000;
    margin-bottom: 2%;
}

/* ---------------------- MEDIA QUERRYS ----------------*/

@media screen and (max-width: 1050px) {
    .video {
        width: 90%;
        position: absolute;
        z-index: 1000;
        top: 3%;
    }
}


@media screen and (max-width: 765px) {
   
     .video {
        width: 90%;
        position: absolute;
        z-index: 1000;
        top: 1%;
    }
}
