@mixin centerElement {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }

@mixin adjustElement {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
